.gradient_text {
    background: linear-gradient(to right, #de0030, #ff7b00);
    /* background: linear-gradient(to right,#FF164D,#ff7d27); */
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'The Bold Font', 'Bold Web', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.bgBlack {
    background-color: black !important;
}