.gradient_text {
    /* background: linear-gradient(to right, #de0030, #ff7b00); */
    background: linear-gradient(to right,#FF164D,#ff7d27);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'The Bold Font', 'Bold Web', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menuzord a {
    transition: all .25s ease-in-out;
}
.menuzord-brand {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
}
.menuzord-brand {
    margin: 12px 30px 0 0;
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 31px;
    line-height: 1.3;
    cursor: pointer;
}
.menuzord, .menuzord * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.actually_h1 {
    font-weight: 600;
    font-size: 36px;
}

.enlace{
    background: #ff7b00 !important;
    border-color: #ff7b00 !important
}